*{
   margin:0;
   padding: 0;;
 } 
:root{
    --main-color: rgba(18, 135, 177, 0.3);
 }
 .homeContainer{
    background-color:var(--main-color);
    /* height: 100vh; */
 
 }
 .bodyImage1{
    height: 100vh;
    background-color: black;
    position: relative;
 }
 .bodyImage1 img {
    max-width: 100%;
    height:auto;
 
    /* object-fit:cover;     */
 }
 .text1{
     position: absolute;
     bottom: 40rem;
     right: 17rem;
     font-size: 5rem;
 }
 .text3{
    position: absolute;
    bottom: 29rem;
    right: 35rem;
    font-size: 2rem;
 }
 
 .bodytext{
     color: white;
     font-size: 10rem;
     /* padding-top: 40rem; */
     /* padding-left: 60rem; */
 
 }
 .button1{
    position: absolute;
    background-color: white;
    width: 12%;
    height: 4rem;
    bottom: 22rem;
    right: 53rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .5rem;
    
 }
 .button1:hover {
    background-color: rgb(196, 237, 252);
 }
 .button1 a {
    color: black;
    text-decoration: none;
 }
 .button2{
    position: absolute;
    background-color: white;
    width: 12%;
    height: 4rem;
    bottom: 22rem;
    right: 30rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .5rem;
    
 }
 .button2:hover {
    background-color:  rgb(196, 237, 252);
 }
 .button2 a {
    color: black;
    text-decoration: none;
 }
 .bodyImage2{
    /* background-color: var(--main-color); */
    height: 90vh;
    margin-top: 20rem;
 }
 .bodyImage2 p {
    font-size: 2rem;
    margin-top: 10rem;
    margin-left: 25rem;
    box-sizing: border-box;
 }
 .PermissionButton {
    position: absolute;
    background-color: white;
    width: 12%;
    height: 4rem;
    left: 25rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .5rem;
    margin-top: 1rem;

    
 }

 .PermissionButton a {
    color: black;
    text-decoration: none;
 }
 
 .photo{
    height: 80vh;
     /* width: 55%; */
     /* display: flex; */
     /* background-color: yellow; */
     padding: 1rem;
     
 }
 .photo1{
     background-image: url(https://res.cloudinary.com/dggvxdkri/image/upload/v1665065558/samples/Attendance%20pict/bodyimage3_class.home-modified_w4p1xq.png);
     position: absolute;
     width: 35rem;
     height: 35rem;
     left: 80rem;
     top: 80rem;
     border-radius: 50%;
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center;
     border: #ffff .7rem solid;
     object-fit: cover;
 }
 .photo2{
    background-image: url(https://res.cloudinary.com/dggvxdkri/image/upload/v1665065517/samples/Attendance%20pict/bodyimage2.home-modified_kyzmje.png);
    position: absolute;
     width: 30rem;
     height: 30rem;
     left: 100rem;
     top: 103rem;
     border-radius: 50%;
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center; 
     border: #ffff .7rem solid;
     object-fit: cover;
 }
 .photo3{
    background-image: url(https://res.cloudinary.com/dggvxdkri/image/upload/v1665065467/samples/Attendance%20pict/bodyimage1.home-modified_rardrx.png);
    position: absolute;
     width: 27rem;
     height: 27rem;
     left: 80rem;
     top: 110rem;
     border-radius: 50%;
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center; 
     border: #ffff .7rem solid;
     object-fit: cover;
 }
 /* .PermissionCard{
    width: 25%;
    height: 50vh;
    background-color: white;
    margin-left: 15rem;
    margin-bottom: 2rem;
    padding: 5rem;
 } */
 .bodyImage3{
    height: 80vh;
    display: flex;
    
    /* background-color: green; */
 }
 
 .bodyImage3 p {
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 25rem;
 }
 .statusImage{
    /* background-image: url(https://res.cloudinary.com/dggvxdkri/video/upload/v1665433858/samples/Attendance%20pict/stock-footage-metaverse-business-meeting-conference-finance-business-stock-exchange-crypto-blockchain-data_eb0jzh.webm); */
    position: absolute;
     left: 60rem;
     top: 140rem;
     background-size: 100%;
     background-repeat:no-repeat;
     /* border-radius: 10%; */
     /* background-color: white; */
     padding: 10rem;
     object-fit: cover;
 
 }
  /* .CheckStatusButton{
    position: absolute;
    background-color: white;
    width: 12%;
    height: 4rem;
    left: 25rem;
    bottom: 1rem;
    text-align: center;
    border-radius: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 5rem;
    padding: .5rem;
 }  */
.CheckStatusButton{    
    position: absolute;
    background-color: white;
    width: 12%;
    height: 4rem;
    left: 25rem;
    /* bottom: 50rem; */
    top: 172rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .5rem;
    padding-top: .2rem;
}
 /* .CheckStatusButton:hover {
    background-color: var(--main-color);
 } */
 .CheckStatusButton a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
 }
 @media (max-width:1440px){
   html{
      font-size: 62.5%;
   }

   .homeContainer{
      background-color:var(--main-color);
      overflow: hidden;
   
   }
   .button1{
      position: absolute;
      background-color: white;
      width: 12%;
      height: 4rem;
      bottom: 22rem;
      right: 53rem;
      text-align: center;
      border-radius: 5rem;
      font-size: 1.5rem;
      cursor: pointer;
      padding: .5rem;
      
   }
   .text1{
      position: absolute;
      bottom: 40rem;
      right: 17rem;
      font-size: 2rem;
      text-decoration: aqua;
  }
  .text3{
     position: absolute;
     bottom: 29rem;
     right: 35rem;
     font-size: .5rem;
  }
  
  .bodytext{
      color: white;
      font-size: 10rem;
      padding-top: 40rem;
      padding-left: 60rem;
  
  }
  .button1{
     position: absolute;
     background-color: white;
     width: 12%;
     height: 4rem;
     bottom: 22rem;
     right: 53rem;
     text-align: center;
     border-radius: 5rem;
     font-size: 1.5rem;
     cursor: pointer;
     padding: .5rem;
     
  }
   
} 
