.SiderDash{
    background-color: rgba(18, 135, 177, 0.3);
    padding: 5rem;
    font-weight: 900;
    /* color: yellow; */
    
}
.SiderImage{
    width: 35%;
    height: 10rem;
    border-radius:70%;
    
}
